#container{
    float: left;
    padding-top: 20px;
}

#mainContent{
    width: 850px;
    float: left;
}

body{
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

ul{
    display: inline-block;
}

ol{
    display: inline-block;
}

li{
    text-align: center;
}

.header{
    text-align: center;
}

.header h1{
    font-size: 40px;
}

.topright{
    position: absolute;
    top: 8px;
    right: 16px;
}

.topleft{
    position: absolute;
    top: 8px;
    left: 16px;
}

.menu{
    overflow: hidden;
    float: left;
    position: fixed;
    width: 350px;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    background-color: white;
    outline: 5px solid black;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu li{
    text-align: left;
}

.menu ul{
    display: block;
}

.mainContent{
    padding-top: 10px;
    text-align: center;
    margin-left: 450px;
}

.mainContent h1{
    font-weight: bold;
}

.mainContent h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-bottom: 0;
}

.mainContent ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.imgGrupo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.parentOfUI{
    text-align: center;
}
